.footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer__copyright {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: white;
}
